
@font-face {
	font-family: appdoc;
	src: url('./../fonts/MuseoModerno-Regular.ttf');
}
@font-face {
	font-family: appdocLight;
	src: url('./../fonts/MuseoModerno-Light.ttf');
}
@font-face {
	font-family: appdocExtraLight;
	src: url('./../fonts/MuseoModerno-ExtraLight.ttf');
}
@font-face {
	font-family: appdocThin;
	src: url('./../fonts/MuseoModerno-Thin.ttf');
}
@font-face {
	font-family: appdocMedium;
	src: url('./../fonts/MuseoModerno-Medium.ttf');
}
@font-face {
	font-family: appdocSemiBold;
	src: url('./../fonts/MuseoModerno-SemiBold.ttf');
}
@font-face {
	font-family: appdocBold;
	src: url('./../fonts/MuseoModerno-Bold.ttf');
}
@font-face {
	font-family: appdocExtraBold;
	src: url('./../fonts/MuseoModerno-ExtraBold.ttf');
}
@font-face {
	font-family: appdocBlack;
	src: url('./../fonts/MuseoModerno-Black.ttf');
}


section h1,
#features li strong,
header h2,
footer p {
	font: 100% Rockwell, Arvo, serif;
}

/*
 Styles
 */

* {
	margin: 0;
	padding: 0;
}

body {
	font: 100%/1.5 Questrial, sans-serif;
	tab-size: 4;
	hyphens: auto;
	overflow: hidden;
}

a {
	color: inherit;
}

#appdoc-list{
	width: 100%;
	list-style: none;
}

#appdoc-list li{
	font-family: appdoc;
	font-size: 14px;
	padding: 10px;
}

#appdoc-list li .app-doc-row-id{
	width: 5%;
	float: left;
}

#appdoc-list li .app-doc-row-name{
	white-space: nowrap; 
    overflow: hidden;
	text-overflow: ellipsis;
	width: 45%;
	float: left;
}

#appdoc-list li .app-doc-row-path{
	white-space: nowrap; 
    overflow: hidden;
	text-overflow: ellipsis; 
	width: 50%;
	float: left;

}

/* pagination css */

#pagination-btn{
	width: 100%;
    margin-left: auto;
    margin-right: auto;
	text-align: center;
	padding-top: 30px;
}

.data-container {
	margin-top: 20px !important;
}
  .paginationjs {
	line-height: 1.6;
	font-family: Marmelad, "Lucida Grande", Arial, "Hiragino Sans GB", Georgia, sans-serif;
	font-size: 14px;
	box-sizing: initial
}

.paginationjs:after {
	display: table;
	content: " ";
	clear: both
}

.paginationjs .paginationjs-pages {
	display: inline-grid;
}

.paginationjs .paginationjs-pages ul {
	float: left;
	margin: 0;
	padding: 0
}

.paginationjs .paginationjs-go-button,
.paginationjs .paginationjs-go-input,
.paginationjs .paginationjs-nav {
	float: left;
	margin-left: 10px;
	font-size: 14px
}

.paginationjs .paginationjs-pages li {
	float: left;
	/* border: 1px solid #02c0ce; */
	border-right: none;
	list-style: none
}

.paginationjs .paginationjs-pages li>a {
	min-width: 30px;
	height: 28px;
	line-height: 28px;
	display: block;

	font-size: 14px;

	text-decoration: none;
	text-align: center;
	/* background: linear-gradient(90deg, rgba(12, 12, 12, 0.67) 0%, rgba(6, 39, 36, 0.53) 50%); */
    color: #2f2c31;
}

.paginationjs .paginationjs-pages li>a:hover {
	background: #eee;
	border-radius: 15px;
}

.paginationjs .paginationjs-pages li.active {
	border: none
}

.paginationjs .paginationjs-pages li.active>a {
	height: 30px;
	line-height: 30px;
	border-radius: 15px;
	color: #fff;
	background: rgb(136,49,232);
	background: radial-gradient(circle, rgba(136,49,232,0.923406862745098) 0%, rgba(23,88,241,1) 100%);

}

.paginationjs .paginationjs-pages li.disabled>a {
	opacity: .3
}

.paginationjs .paginationjs-pages li.disabled>a:hover {
	background: 0 0
}

.paginationjs .paginationjs-pages li:first-child,
.paginationjs .paginationjs-pages li:first-child>a {
	border-radius: 3px 0 0 3px
}

.paginationjs .paginationjs-pages li:last-child {
	/* border-right: 1px solid #aaa;
	border-radius: 0 3px 3px 0 */
}

.paginationjs .paginationjs-pages li:last-child>a {
	border-radius: 0 3px 3px 0
}

.paginationjs .paginationjs-go-input>input[type=text] {
	width: 30px;
	height: 28px;
	background: #fff;
	border-radius: 3px;
	border: 1px solid #aaa;
	padding: 0;
	font-size: 14px;
	text-align: center;
	vertical-align: baseline;
	outline: 0;
	box-shadow: none;
	box-sizing: initial
}

.paginationjs .paginationjs-go-button>input[type=button] {
	min-width: 40px;
	height: 30px;
	line-height: 28px;
	background: #fff;
	border-radius: 3px;
	border: 1px solid #aaa;
	text-align: center;
	padding: 0 8px;
	font-size: 14px;
	vertical-align: baseline;
	outline: 0;
	box-shadow: none;
	color: #333;
	cursor: pointer;
	vertical-align: middle\9
}

.paginationjs.paginationjs-theme-blue .paginationjs-go-input>input[type=text],
.paginationjs.paginationjs-theme-blue .paginationjs-pages li {
	border-color: #289de9
}

.paginationjs .paginationjs-go-button>input[type=button]:hover {
	background-color: #f8f8f8
}

.paginationjs .paginationjs-nav {
	height: 30px;
	line-height: 30px
}

.paginationjs .paginationjs-go-button,
.paginationjs .paginationjs-go-input {
	margin-left: 5px\9
}

.paginationjs.paginationjs-small {
	font-size: 12px
}

.paginationjs.paginationjs-small .paginationjs-pages li>a {
	min-width: 26px;
	height: 24px;
	line-height: 24px;
	font-size: 12px
}

.paginationjs.paginationjs-small .paginationjs-pages li.active>a {
	height: 26px;
	line-height: 26px
}

.paginationjs.paginationjs-small .paginationjs-go-input {
	font-size: 12px
}

.paginationjs.paginationjs-small .paginationjs-go-input>input[type=text] {
	width: 26px;
	height: 24px;
	font-size: 12px
}

.paginationjs.paginationjs-small .paginationjs-go-button {
	font-size: 12px
}

.paginationjs.paginationjs-small .paginationjs-go-button>input[type=button] {
	min-width: 30px;
	height: 26px;
	line-height: 24px;
	padding: 0 6px;
	font-size: 12px
}

.paginationjs.paginationjs-small .paginationjs-nav {
	height: 26px;
	line-height: 26px;
	font-size: 12px
}

.paginationjs.paginationjs-big {
	font-size: 16px
}

.paginationjs.paginationjs-big .paginationjs-pages li>a {
	min-width: 36px;
	height: 34px;
	line-height: 34px;
	font-size: 16px
}

.paginationjs.paginationjs-big .paginationjs-pages li.active>a {
	height: 36px;
	line-height: 36px
}

.paginationjs.paginationjs-big .paginationjs-go-input {
	font-size: 16px
}

.paginationjs.paginationjs-big .paginationjs-go-input>input[type=text] {
	width: 36px;
	height: 34px;
	font-size: 16px
}

.paginationjs.paginationjs-big .paginationjs-go-button {
	font-size: 16px
}

.paginationjs.paginationjs-big .paginationjs-go-button>input[type=button] {
	min-width: 50px;
	height: 36px;
	line-height: 34px;
	padding: 0 12px;
	font-size: 16px
}

.paginationjs.paginationjs-big .paginationjs-nav {
	height: 36px;
	line-height: 36px;
	font-size: 16px
}

.paginationjs.paginationjs-theme-blue .paginationjs-pages li>a {
	color: #289de9
}

.paginationjs.paginationjs-theme-blue .paginationjs-pages li>a:hover {
	background: #e9f4fc
}

.paginationjs.paginationjs-theme-blue .paginationjs-pages li.active>a {
	background: #289de9;
	color: #fff
}

.paginationjs.paginationjs-theme-blue .paginationjs-pages li.disabled>a:hover {
	background: 0 0
}

.paginationjs.paginationjs-theme-blue .paginationjs-go-button>input[type=button] {
	background: #289de9;
	border-color: #289de9;
	color: #fff
}

.paginationjs.paginationjs-theme-green .paginationjs-go-input>input[type=text],
.paginationjs.paginationjs-theme-green .paginationjs-pages li {
	border-color: #449d44
}

.paginationjs.paginationjs-theme-blue .paginationjs-go-button>input[type=button]:hover {
	background-color: #3ca5ea
}

.paginationjs.paginationjs-theme-green .paginationjs-pages li>a {
	color: #449d44
}

.paginationjs.paginationjs-theme-green .paginationjs-pages li>a:hover {
	background: #ebf4eb
}

.paginationjs.paginationjs-theme-green .paginationjs-pages li.active>a {
	background: #449d44;
	color: #fff
}

.paginationjs.paginationjs-theme-green .paginationjs-pages li.disabled>a:hover {
	background: 0 0
}

.paginationjs.paginationjs-theme-green .paginationjs-go-button>input[type=button] {
	background: #449d44;
	border-color: #449d44;
	color: #fff
}

.paginationjs.paginationjs-theme-yellow .paginationjs-go-input>input[type=text],
.paginationjs.paginationjs-theme-yellow .paginationjs-pages li {
	border-color: #ec971f
}

.paginationjs.paginationjs-theme-green .paginationjs-go-button>input[type=button]:hover {
	background-color: #55a555
}

.paginationjs.paginationjs-theme-yellow .paginationjs-pages li>a {
	color: #ec971f
}

.paginationjs.paginationjs-theme-yellow .paginationjs-pages li>a:hover {
	background: #fdf5e9
}

.paginationjs.paginationjs-theme-yellow .paginationjs-pages li.active>a {
	background: #ec971f;
	color: #fff
}

.paginationjs.paginationjs-theme-yellow .paginationjs-pages li.disabled>a:hover {
	background: 0 0
}

.paginationjs.paginationjs-theme-yellow .paginationjs-go-button>input[type=button] {
	background: #ec971f;
	border-color: #ec971f;
	color: #fff
}

.paginationjs.paginationjs-theme-red .paginationjs-go-input>input[type=text],
.paginationjs.paginationjs-theme-red .paginationjs-pages li {
	border-color: #c9302c
}

.paginationjs.paginationjs-theme-yellow .paginationjs-go-button>input[type=button]:hover {
	background-color: #eea135
}

.paginationjs.paginationjs-theme-red .paginationjs-pages li>a {
	color: #c9302c
}

.paginationjs.paginationjs-theme-red .paginationjs-pages li>a:hover {
	background: #faeaea
}

.paginationjs.paginationjs-theme-red .paginationjs-pages li.active>a {
	background: #c9302c;
	color: #fff
}

.paginationjs.paginationjs-theme-red .paginationjs-pages li.disabled>a:hover {
	background: 0 0
}

.paginationjs.paginationjs-theme-red .paginationjs-go-button>input[type=button] {
	background: #c9302c;
	border-color: #c9302c;
	color: #fff
}

.paginationjs.paginationjs-theme-red .paginationjs-go-button>input[type=button]:hover {
	background-color: #ce4541
}

.paginationjs .paginationjs-pages li.paginationjs-next {
	/* border-right: 1px solid #aaa */
}

.paginationjs .paginationjs-go-input>input[type=text] {
	line-height: 28px\9;
	vertical-align: middle\9
}

.paginationjs.paginationjs-big .paginationjs-pages li>a {
	line-height: 36px\9
}

.paginationjs.paginationjs-big .paginationjs-go-input>input[type=text] {
	height: 36px\9;
	line-height: 36px\9
}


#items{
	list-style:none;
	margin:0px;
	margin-top:4px;
	padding-left:10px;
	padding-right:10px;
	padding-bottom:3px;
	font-size:17px;
	color: #333333;
	
  }
  hr { width: 85%; 
	background-color:#E4E4E4;
	border-color:#E4E4E4;
	  color:#E4E4E4;
  }
  #cntnr{
	display:none;
	position:fixed;
	border:1px solid #B2B2B2;
	width:200px;      
	background:#F9F9F9;
	box-shadow: 3px 3px 2px #E9E9E9;
	border-radius:4px;
  }
  
  li{
	
	padding: 3px;
	padding-left:10px;
  }
  
  
  #items :hover{
	 color: white;
	background:#080808;
	border-radius:2px;
	cursor: pointer;
  }

  hr {
	margin-top: 5px !important;
	margin-bottom: 5px !important;
  }


  .scrollxy{
	overflow: scroll;
	height: 100vh;
  }

  .gridbg{
	background-image: url('./../img/grid.svg');
  }

  .control-panel{
	height: 100vh;
  }
  
  .selected-page{
	font-family: appdocMedium;
	font-size: 14px;
	font-weight: 300;
	padding-right: 10px;
  }

  #appDocTree{
	width: 3048px;
	padding-top: 50px;
  }

  #appdoc-process{
	padding-top: 50px; 
  }

  .file-loading{
	  margin-left: auto;
	  margin-right: auto;
	  text-align: center;
  }

  .apptitle{

	  font-family: appdoc;
	  font-size: 30px;
	  font-weight: 100;
	  margin-top: 15%;
	  margin-left: auto;
	  margin-right: auto;
	  text-align: center;

  }

  div.project-name{
	font-size: 18px;
	font-weight: 100;
	margin-top: 1%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
  }

  div.project-name input{
	  padding-left: 15px;
	  padding-top: 5px;
	  padding-bottom: 5px;
	  border-radius: 30px;
  }
  div.project-name input:focus{
	  outline: none;
  }

  div.file-loading {
    width: 100px;
    height: 100px;
    background: url('./../img/filescan.png') no-repeat center center;
    overflow: hidden;
  }

  div.file-loading input {
    display: block !important;
    width: 100px !important;
    height: 100px !important;
    opacity: 0 !important;
    overflow: hidden !important;
 }

 #status{
	 width: 300px;
	 margin-left: auto;
	 margin-right: auto;
	 display: none;
 }
 #procced{

	 width: 300px;
	 margin-left: auto;
	 margin-right: auto;
	 display: none;

 }

 .details{
	 display: none;
 }

 .details.active{
	 display: block;
}


/* It's supposed to look like a tree diagram */
.tree, .tree ul, .tree li {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}

.tree {
    margin: 0 0 1em;
    text-align: center;
}
.tree, .tree ul {
    display: table;
}
.tree ul {
  width: 100%;
}
    .tree li {
        display: table-cell;
        padding: .5em 0;
        vertical-align: top;
    }
        /* _________ */
        .tree li:before {
            outline: solid 1px #666;
            content: "";
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
        }
        .tree li:first-child:before {left: 50%;}
        .tree li:last-child:before {right: 50%;}

        .tree code, .tree span {
            border: solid .1em #666;
            border-radius: .2em;
            display: inline-block;
            margin: 0 .2em .5em;
            padding: .2em .5em;
            position: relative;
        }
        /* If the tree represents DOM structure */
        .tree code {
            font-family: monaco, Consolas, 'Lucida Console', monospace;
        }

            /* | */
            .tree ul:before,
            .tree code:before,
            .tree span:before {
                outline: solid 1px #666;
                content: "";
                height: .5em;
                left: 50%;
                position: absolute;
            }
            .tree ul:before {
                top: -.5em;
            }
            .tree code:before,
            .tree span:before {
                top: -.55em;
            }

/* The root node doesn't connect upwards */
.tree > li {margin-top: 0;}
    .tree > li:before,
    .tree > li:after,
    .tree > li > code:before,
    .tree > li > span:before {
      outline: none;
    }


/* prevent breaking */
.context-menu-item > span {
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
  }
  
/* Styling an indeterminate progress bar */

progress:not(value) {
    /* Add your styles here. As part of this walkthrough we will focus only on determinate progress bars. */
}

/* Styling the determinate progress element */

progress[value] {
    /* Get rid of the default appearance */
    appearance: none;
    
    /* This unfortunately leaves a trail of border behind in Firefox and Opera. We can remove that by setting the border to none. */
    border: none;
    
    /* Add dimensions */
    width: 100%; height: 20px;
    
    /* Although firefox doesn't provide any additional pseudo class to style the progress element container, any style applied here works on the container. */
      background-color: whiteSmoke;
      border-radius: 3px;
      box-shadow: 0 2px 3px rgba(0,0,0,.5) inset;
    
    /* Of all IE, only IE10 supports progress element that too partially. It only allows to change the background-color of the progress value using the 'color' attribute. */
    color: royalblue;
    
    position: relative;
    margin: 0 0 1.5em; 
}

/*
Webkit browsers provide two pseudo classes that can be use to style HTML5 progress element.
-webkit-progress-bar -> To style the progress element container
-webkit-progress-value -> To style the progress element value.
*/

progress[value]::-webkit-progress-bar {
    background-color: whiteSmoke;
    border-radius: 3px;
    box-shadow: 0 2px 3px rgba(0,0,0,.5) inset;
}

progress[value]::-webkit-progress-value {
    position: relative;
    
    background-size: 35px 20px, 100% 100%, 100% 100%;
    border-radius:3px;
    
    /* Let's animate this */
    animation: animate-stripes 5s linear infinite;
}

@keyframes animate-stripes { 100% { background-position: -100px 0; } }

/* Let's spice up things little bit by using pseudo elements. */

progress[value]::-webkit-progress-value:after {
    /* Only webkit/blink browsers understand pseudo elements on pseudo classes. A rare phenomenon! */
    content: '';
    position: absolute;
    
    width:5px; height:5px;
    top:7px; right:7px;
    
    background-color: white;
    border-radius: 100%;
}

/* Firefox provides a single pseudo class to style the progress element value and not for container. -moz-progress-bar */

progress[value]::-moz-progress-bar {
    /* Gradient background with Stripes */
    background-image:
    -moz-linear-gradient( 135deg,
                                                     transparent,
                                                     transparent 33%,
                                                     rgba(0,0,0,.1) 33%,
                                                     rgba(0,0,0,.1) 66%,
                                                     transparent 66%),
    -moz-linear-gradient( top,
                                                        rgba(255, 255, 255, .25),
                                                        rgba(0,0,0,.2)),
     -moz-linear-gradient( left, #09c, #f44);
    
    background-size: 35px 20px, 100% 100%, 100% 100%;
    border-radius:3px;
    
    /* Firefox doesn't support CSS3 keyframe animations on progress element. Hence, we did not include animate-stripes in this code block */
}

/* Fallback technique styles */
.progress-bar {
    background-color: whiteSmoke;
    border-radius: 3px;
    box-shadow: 0 2px 3px rgba(0,0,0,.5) inset;

    /* Dimensions should be similar to the parent progress element. */
    width: 100%; height:20px;
}

.progress-bar span {
    background-color: royalblue;
    border-radius: 3px;
    
    display: block;
    text-indent: -9999px;
}

p[data-value] { 
  
  position: relative; 
}

/* The percentage will automatically fall in place as soon as we make the width fluid. Now making widths fluid. */

p[data-value]:after {
    content: attr(data-value) '%';
    position: absolute; right:0;
}





.html5::-webkit-progress-value,
.python::-webkit-progress-value  {
    /* Gradient background with Stripes */
    background-image:
    -webkit-linear-gradient( 135deg,
                                                     transparent,
                                                     transparent 33%,
                                                     rgba(0,0,0,.1) 33%,
                                                     rgba(0,0,0,.1) 66%,
                                                     transparent 66%),
    -webkit-linear-gradient( top,
                                                        rgba(255, 255, 255, .25),
                                                        rgba(0,0,0,.2)),
     -webkit-linear-gradient( left, #09c, #f44);
}

.css3::-webkit-progress-value,
.php::-webkit-progress-value 
{
    /* Gradient background with Stripes */
    background-image:
    -webkit-linear-gradient( 135deg,
                                                     transparent,
                                                     transparent 33%,
                                                     rgba(0,0,0,.1) 33%,
                                                     rgba(0,0,0,.1) 66%,
                                                     transparent 66%),
    -webkit-linear-gradient( top,
                                                        rgba(255, 255, 255, .25),
                                                        rgba(0,0,0,.2)),
     -webkit-linear-gradient( left, #09c, #ff0);
}

.jquery::-webkit-progress-value,
.node-js::-webkit-progress-value 
{
    /* Gradient background with Stripes */
    background-image:
    -webkit-linear-gradient( 135deg,
                                                     transparent,
                                                     transparent 33%,
                                                     rgba(0,0,0,.1) 33%,
                                                     rgba(0,0,0,.1) 66%,
                                                     transparent 66%),
    -webkit-linear-gradient( top,
                                                        rgba(255, 255, 255, .25),
                                                        rgba(0,0,0,.2)),
     -webkit-linear-gradient( left, #09c, #690);
}

/* Similarly, for Mozillaa. Unfortunately combining the styles for different browsers will break every other browser. Hence, we need a separate block. */

.html5::-moz-progress-bar,
.php::-moz-progress-bar {
    /* Gradient background with Stripes */
    background-image:
    -moz-linear-gradient( 135deg,
                                                     transparent,
                                                     transparent 33%,
                                                     rgba(0,0,0,.1) 33%,
                                                     rgba(0,0,0,.1) 66%,
                                                     transparent 66%),
    -moz-linear-gradient( top,
                                                        rgba(255, 255, 255, .25),
                                                        rgba(0,0,0,.2)),
     -moz-linear-gradient( left, #09c, #f44);
}

.css3::-moz-progress-bar,
.php::-moz-progress-bar {

    /* Gradient background with Stripes */
    background-image:
    -moz-linear-gradient( 135deg,
                                                     transparent,
                                                     transparent 33%,
                                                     rgba(0,0,0,.1) 33%,
                                                     rgba(0,0,0,.1) 66%,
                                                     transparent 66%),
    -moz-linear-gradient( top,
                                                        rgba(255, 255, 255, .25),
                                                        rgba(0,0,0,.2)),
     -moz-linear-gradient( left, #09c, #ff0);
}

.jquery::-moz-progress-bar,
.node-js::-moz-progress-bar {
    /* Gradient background with Stripes */
    background-image:
    -moz-linear-gradient( 135deg,
                                                     transparent,
                                                     transparent 33%,
                                                     rgba(0,0,0,.1) 33%,
                                                     rgba(0,0,0,.1) 66%,
                                                     transparent 66%),
    -moz-linear-gradient( top,
                                                        rgba(255, 255, 255, .25),
                                                        rgba(0,0,0,.2)),
     -moz-linear-gradient( left, #09c, #690);
}

/* Now we are good to duplicate html code for other skills and then add the css code for the new skill based on data-skill */

  
/* THE END */



.flex-parent {
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    /* height: 100%; */
    /* overflow-x: scroll;*/
  }
  
  .input-flex-container {
	display: flex;
    justify-content: space-around;
    align-items: center;
    width: auto;
    height: 20vh;
    /* max-width: 1000px; */
    position: relative;
    z-index: 0;
    overflow-x: scroll;
  }

  .input.start, .input.end {
	  background-color: #ec2e2e !important;
  }
  
  .input {
	width: 25px;
	height: 25px;
	background-color: #2C3E50;
	position: relative;
	border-radius: 50%;
	margin-left: 30px;
    margin-right: 30px;
  }
  .input:hover {
	cursor: pointer;
  }
  .input::before, .input::after {
	content: "";
	display: block;
	position: absolute;
	z-index: -1;
	top: 50%;
	transform: translateY(-50%);
	background-color: #2C3E50;
	width: 4vw;
	height: 5px;
	max-width: 50px;
  }
  .input::before {
	left: calc(-4vw + 12.5px);
  }
  .input::after {
	right: calc(-4vw + 12.5px);
  }
  .input.active {
	background-color: #2C3E50;
  }
  .input.active::before {
	background-color: #2C3E50;
  }
  .input.active::after {
	background-color: #AEB6BF;
  }
  .input.active span {
	font-weight: 700;
  }
  .input.active span::before {
	font-size: 13px;
  }
  .input.active span::after {
	font-size: 15px;
  }
  .input.active ~ .input, .input.active ~ .input::before, .input.active ~ .input::after {
	background-color: #AEB6BF;
  }
  .input span {
	width: 1px;
	height: 1px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	visibility: hidden;
  }
  .input span::before, .input span::after {
	visibility: visible;
	position: absolute;
	left: 50%;
  }
  .input span::after {
	content: attr(data-step);
	top: 25px;
	transform: translateX(-50%);
	font-size: 14px;
  }
  .input span::before {
	content: attr(data-info);
	top: -65px;
	width: 70px;
	transform: translateX(-5px) rotateZ(-45deg);
	font-size: 12px;
	text-indent: -10px;
  }
  
  .description-flex-container {
	width: 100%;
    font-weight: 400;
    /* font-size: 22px; */
    margin-top: 20px;
  }
  .description-flex-container p {
	margin-top: 0;
	display: none;
  }
  .description-flex-container p.active {
	display: block;
  }
  
  @media (min-width: 1250px) {
	.input::before {
	  left: -37.5px;
	}
  
	.input::after {
	  right: -37.5px;
	}
  }
  @media (max-width: 850px) {
	.input {
	  width: 17px;
	  height: 17px;
	}
	.input::before, .input::after {
	  height: 3px;
	}
	.input::before {
	  left: calc(-4vw + 8.5px);
	}
	.input::after {
	  right: calc(-4vw + 8.5px);
	}
  }
  @media (max-width: 600px) {
	.flex-parent {
	  justify-content: initial;
	}
  
	.input-flex-container {
	  flex-wrap: wrap;
	  justify-content: center;
	  width: 100%;
	  height: auto;
	  margin-top: 15vh;
	}
  
	.input {
	  width: 60px;
	  height: 60px;
	  margin: 0 10px 50px;
	  background-color: #AEB6BF;
	}
	.input::before, .input::after {
	  content: none;
	}
	.input span {
	  width: 100%;
	  height: 100%;
	  display: block;
	}
	.input span::before {
	  top: calc(100% + 5px);
	  transform: translateX(-50%);
	  text-indent: 0;
	  text-align: center;
	}
	.input span::after {
	  top: 50%;
	  transform: translate(-50%, -50%);
	  color: #ECF0F1;
	}
  
	.description-flex-container {
	  margin-top: 30px;
	  text-align: center;
	}
  }
  @media (max-width: 400px) {
	body {
	  min-height: 950px;
	}
  }
  

/* li.context-menu-active span:first-child {
	background-color: #09c;
	color: #2f2c31;
} */

ul.tree li{
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

ul.tree li > span{
	font-size: 12px;
	font-weight: 400;
	background: rgb(226, 226, 226);
    background: linear-gradient(124deg, rgb(226, 226, 226) 0%, rgb(180, 183, 190) 100%);
	color: #000000;
}

ul.tree li.context-menu-active > span {
	background: rgb(179,49,232);
    background: linear-gradient(124deg, rgba(179,49,232,1) 0%, rgba(23,88,241,1) 100%);
	color: #ffffff;
}

.sub-menu-icon.project-map{
	text-align: right;
	padding: 10px;
	position: fixed;
}

.sub-menu-icon.process-menu{
	text-align: right;
	position: fixed;
	right: 20px;
}

ul#sortable-steps{
	list-style: none;
}

ul#sortable-steps .ui-state-default{
	padding: 10px;
	font-size: 12px;
	border: 1px solid #ccc !important;
	border-radius: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	cursor: move;
}